body {
    background-color:rgb(144, 144, 189);
}

.container {
    display: flexbox;
    flex: none;
    background-color: white;
    padding: 10px;  
    height: 100%;
    width: 900px;
    margin: auto;
}

.row {
    display: flex;
    height: 100%;
}

.cell {
    border: rgb(187, 128, 189);
    border-width: 1px;
    background-color: rgb(216, 201, 216);
    border-style: solid;
    height: 200px;
    width: 100%;
}

.seen {
    background-color: rgb(144, 144, 189);
}

.button-div
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-1 {
    background-color: rgb(215 129 223 / 41%);
    border-radius: 25px;
    padding: 25px;
    font-family: monospace;
    margin: 25px;
}

.button-1:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-1:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  border: 2px solid #4285f4;
}

